.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: darkcyan;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width: 370px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 80vh;
        top: 100px;
        background-color: aliceblue;
        flex-direction: column;
        align-items: center;
        width: 50%;
        display: none;
        /*transform: translateX(100%);*/
        transition: transform 0.5s ease-in;
    }
    .burger{
        display: block;
        margin-right: 10px;
    }
    img{
        width: 100px;
        height: 100px;
    }
    h4{
        font-size: 20px;
    }
}
.nav-active{
    /*transform: translateX(0%);*/
    display: flex;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}