*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}
.container-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: radial-gradient(white, slategrey);
}

fieldset, label{
    padding: 20px;
}
legend{
    color: darkcyan;
    font-size: 32px;
}
fieldset{
    border: 5px solid darkgrey;
    border-radius: 20px;
}
input{
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius:20px;
    outline: none;
    border: 2px solid black;
}
#submit{
    float: right;
    padding:3px;
    border-radius: 8px;
    background: darkcyan;
    color: white;
    cursor: pointer;
    border: 2px solid darkcyan;
    transition: background 1s;
}
#submit:hover{
    color: darkcyan;
    background: white;
}
